:root {
  --nav: rgb(36, 36, 36);
  --main: rgb(27, 27, 27);
  --logo: #f05454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* DARK MODE
body {
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f05454' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2330475e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f05454' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232b3c4e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f05454' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2325313e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f05454' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231f262f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f05454' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23191c20' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f05454' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23121212' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
} */

body {
  background-color: #f5f5f5;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f05454' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2330475e' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f05454' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232b3c4e' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f05454' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%2325313e' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f05454' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%231f262f' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f05454' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23191c20' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23f05454' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23121212' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: scroll;
  background-size: cover;
  /* background by SVGBackgrounds.com */
}

.grid-container {
  display: grid;
  grid-template-rows: 5rem minmax(min-content, 20rem) 1fr;
  height: 100vh;
}

nav {
  /* background: var(--nav); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav a {
  text-decoration: none;
  color: #30475e;
}

.active {
  color: #1f2e3d;
}

.nav-logo {
  font-weight: 700;
  font-size: 3rem;
  color: var(--logo);
}

.nav-button-container {
  display: flex;
  justify-content: space-around;
  font-size: 20px;
}

header {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header h1 {
  height: fit-content;
  color: #f05454;
  font-size: 7vw;
}

header img {
  width: 10rem;
  height: fit-content;
  border-radius: 9999px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

main > * {
  width: 80vw;
  border: 1px solid black;
}

.work,
.education {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.startDate,
.endDate {
  width: fit-content;
}

article {
  width: 80vw;
}

article p {
  font-size: 25px;
  font-style: italic;
  color: #121212;
}

h3 {
  font-size: 24px;
}

.name {
  font-weight: 500;
  font-size: 22px;
  width: 100%;
}

.description {
  width: 100%;
  font-size: 18px;
}

.courses {
  width: 100%;
}

/* TEST */
.nav-toggle {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
span {
  width: 30px;
  height: 5px;
  background-color: #121212;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle:hover span {
  position: absolute;
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
}

.nav-toggle:hover span:nth-child(2) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.nav-toggle:hover span:nth-child(3) {
  transform: rotate(-45deg) translate(0, -2px);
}

.hidden {
  visibility: hidden;
}
