:root {
  --header: #2d2f33;
  --main: #25262a;
  --logo: #f05454;
  --description: #919296;
  --green: #6befa4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container {
  background: var(--header);
  display: grid;
  grid-template-rows: 5rem minmax(min-content, 20rem) 1fr;
  min-height: 100vh;
}

/* NAVBAR */
nav {
  /* background: var(--nav); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-family: "Roboto", sans-serif;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #d3d3d3;
}

.active {
  color: var(--green);
}

.nav-logo {
  font-family: "Lobster", cursive;
  font-size: 3rem;
  color: var(--green);
}

.mobile {
  font-size: 5vh;
}

.desktop {
  display: none;
  font-size: 5vh;
}

.nav-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  inset: 0 0 0 30%;
  padding-top: 4rem;
  width: 70%;
  font-size: 2.3rem;
  background: rgba(37, 38, 42, 0.65);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.nav-button-container a {
  text-align: center;
  width: 100%;
}

.nav-button-container a:hover {
  background: var(--main);
}

/* HAMBURGER MENU */
.nav-toggle {
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.nav-toggle span {
  width: 30px;
  height: 5px;
  background-color: #121212;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle:hover span {
  opacity: 1;
  transform: rotate(45deg) translate(8px, 8px);
}

.nav-toggle:hover span:nth-child(2) {
  opacity: 0;
}

.nav-toggle:hover span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

.hidden {
  display: none;
}
/* HAMBURGER MENU END 
   END OF NAVBAR */

/* Download button */
.btnDown {
  padding: 0.4rem;
}
/* HEADER */
header {
  display: grid;
  grid-auto-rows: min-content;
  grid-auto-columns: minmax(250px, auto);
  justify-items: center;
}

.header {
  grid-column-start: 1;
  display: flex;
  flex-direction: column;
  max-width: 80vw;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #fff;
}

header .profile-pic {
  background: var(--header);
  box-shadow: rgba(45, 47, 51, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 45vw;
  max-width: 400px;
  height: 45vw;
  max-height: 400px;
  object-fit: contain;
  border-radius: 50%;
}
/* END of Header */

/* MAIN */
main {
  background: var(--main);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(250px, auto) 1fr;
  gap: 1rem;
}

main > * {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}
.main-container > * {
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.main-container-items {
  min-height: 60vh;
  width: 100%;
}

.main-item-work,
.main-item-education,
.main-item-skills,
.main-item-about,
.main-item-Project1,
.main-item-Project2 {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.main-item-work:hover,
.main-item-education:hover,
.main-item-skills:hover,
.main-item-about:hover {
  background: var(--header);
}

.work,
.education {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.startDate,
.endDate {
  width: fit-content;
  margin-right: 0.5rem;
  font-style: italic;
}

.name {
  font-weight: 500;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

.description {
  width: 100%;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  color: var(--description);
}

.courses {
  width: 100%;
  font-size: 1.2rem;
}

.level {
  color: var(--description);
  font-size: 1.1rem;
}

.keywords {
  font-family: monospace;
  font-size: 1.3rem;
}

.hide {
  display: none;
}

.selected {
  color: var(--green);
}
/* END of MAIN */

/* Media screens */
@media screen and (min-width: 810px) {
  .hidden {
    display: block;
  }

  .nav-toggle {
    display: none;
  }

  .desktop {
    display: block;
    font-size: 4vh;
  }

  .mobile {
    display: none;
  }

  .nav-button-container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    z-index: 0;
    position: relative;
    inset: initial;
    padding-top: 0;
    width: auto;
    font-size: 24px;
    background: transparent;
    box-shadow: none;
  }

  .btnDown {
    background: var(--green);
    padding: 0.4rem;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
      rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  header {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 350px min-content 1fr;
    align-items: center;
  }

  header img {
    grid-column: 3/4;
  }

  .header {
    grid-column: 2 / 3;
    grid-row: 1;
  }

  main {
    grid-template-columns: 1fr repeat(2, minmax(300px, 800px)) 1fr;
    grid-template-rows: 5rem minmax(min-content, 800px);
  }
  .main-container {
    grid-column-start: 2;
    grid-row-start: 2;
  }

  .main-container > * {
    height: 20%;
  }

  .main-container-items {
    grid-column-start: 3;
    grid-row-start: 2;
  }
}

@media screen and (min-width: 1200px) {
  main {
    grid-template-columns: 1fr minmax(400px, 800px) minmax(400px, 800px) 1fr;
  }
}
